@model Larder.Models.LarderDetail

@{
    ViewBag.Title = "Details";
}
<div class="mx-4">
    @Html.Partial("_FoodDetails", Model)
    @Html.Partial("_SeasonDetail", Model.Seasons)
</div>
@Html.Partial("_IngredientList", Model.Ingredients)
@Html.Partial("_ActionList", Model.Actions)

<p class="mx-4">
    @Html.ActionLink("Back to List", "Index")
</p>
