@model Larder.Models.LarderEdit

@{
    ViewBag.Title = "Edit";
}

<h1 class="display-4">Edit</h1>

<form class="form mb-3">
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.Partial("_FoodCreate", Model)
    <button type="submit" value="Save" class="btn btn-primary">Submit</button>
</form>


<ul class="list-group list-group-flush">
    <li class="list-group-item h5 font-weight-bold">
        Ingredients @Html.ActionLink(" ", "Create", "Ingredient", new { id = Model.ID }, new { @class = "fas fa-plus float-right" })
    </li>
    @Html.Partial("_IngredientList", Model.Ingredients)

</ul>

@Html.Partial("_ActionList",Model.Actions)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
