@model Larder.Models.ActionList

    <ul class="list-group list-group-flush">
        <li class="list-group-item h5 font-weight-bold">
            Directions
            @Html.ActionLink(" ", "Create", "Action", new { Id = Model.LarderId }, new { @class = "fas fa-plus float-right" })
        </li>
@if (Model.Directions.Count() != 0)
{
        int i = 1;
        foreach (var item in Model.Directions)
        {
            <li class="list-group-item">
                @i.
                @Html.DisplayFor(modelItem => item.Description)
                @Html.ActionLink(" ", "Delete", "Action", new { id = item.ID }, new { @class = "fas fa-trash-alt float-right" })
                @Html.ActionLink(" ", "Edit", "Action", new { id = item.ID }, new { @class = "fas fa-edit float-right pr-3" })
            </li>
            i++;
        }
}
    </ul>
