@model Larder.Models.ActionList

    <ul class="list-group list-group-flush">
        <li class="list-group-item h5 font-weight-bold">
            Directions
            <span class="float-right">
                <span class="detail">
             @Html.ActionLink(" ", "Create", "Action", new { Id = Model.LarderId }, new { @class = "fas fa-plus detail-add" })
                </span>
            </span>
        </li>
@if (Model.Directions.Count() != 0)
{
        int i = 1;
        foreach (var item in Model.Directions)
        {
            <li class="list-group-item">
                @i.
                @Html.DisplayFor(modelItem => item.Description)
                <span class="float-right">
                <span class="detail">
                @Html.ActionLink(" ", "Edit", "Action", new { id = item.ID }, new { @class = "fas fa-edit pr-3 detail-edit" })
                @Html.ActionLink(" ", "Delete", "Action", new { id = item.ID }, new { @class = "fas fa-trash-alt detail-delete" })
                    </span>
                </span>
            </li>
            i++;
        }
}
    </ul>
