@model IEnumerable<Larder.Models.IngredientListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            @Html.DisplayNameFor(model => model.Amount)
        </div>
        <div class="col-3">
            @Html.DisplayNameFor(model => model.Unit)
        </div>
        <div class="col-6">
            @Html.DisplayNameFor(model => model.Name)
        </div>
    </div>

    @foreach (var item in Model)
    {
    <div class="row">
        <div class="col-3">
            @Html.DisplayFor(modelItem => item.Amount)
        </div>
        <div class="col-3">
            @Html.DisplayFor(modelItem => item.Unit)
        </div>
        <div class="col-6">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            @Html.DisplayFor(modelItem => item.Description)
        </div>
        <div class="col-6">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            @Html.ActionLink("Details", "Details", new { id = item.ID })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </div>
    </div>
    }
</div>