@model Larder.Models.IngredientList
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item h5 font-weight-bold">
                Ingredients @Html.ActionLink(" ", "Create", "Ingredient", new { id = Model.LarderId }, new { @class = "fas fa-plus float-right detail-add" })
            </li>
            @if (Model.Ingredients.Count() != 0)
            {
                foreach (var item in Model.Ingredients)
                {
                    <li class="list-group-item">
                        @Html.DisplayFor(m => item.Amount)
                        @Html.DisplayFor(m => item.Unit)
                        @Html.DisplayFor(m => item.Name)
                        <span class="float-right">
                            <span class="detail-edit detail-delete">
                                &nbsp;
                                @Html.ActionLink(" ", "Edit", "Ingredient", new { id = item.ID }, new { @class = "fas fa-edit pr-3" })
                                @Html.ActionLink(" ", "Delete", "Ingredient", new { id = item.ID }, new { @class = "fas fa-trash-alt" })
                            </span>
                        </span>
                    </li>
                }
            }
        </ul>
    </div>
