<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="en">
    <title>@ViewBag.Title - Larder</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <script src="https://kit.fontawesome.com/144e00f3b6.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light fixed-top"  >
        @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fas fa-home"})
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Larder", "Index", "Larder", null, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Recipes", "Index", "Recipe", null, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Platings", "Index", "Plating", null, new { @class = "navbar-brand" })
                    </li>
                }
                <li>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content pt-3">
        @RenderBody()
        <hr />
        <footer class="mx-4 pb-1">
            <p>
                &copy; @DateTime.Now.Year - Paul Fesenmeier
                | @Html.ActionLink("About", "About", "Home") | 
                @Html.ActionLink("Contact", "Contact", "Home")
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
