@model Larder.Models.PlatingAddList
@{
    ViewBag.Title = "Add Plating";
}

<h1 class="display-4">Add Plating</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RecipeId)

    <table class="table">
        <tbody>
        @if (Model.Platings != null)
        {
            foreach (var plating in Model.Platings)
            {
            <tr>
                <th>
                    <div class="form-group">
                        @Html.CheckBox(plating.Key.ID.ToString(), plating.Value, new { @class = "form-check-input" })
                        @Html.Label(plating.Key.Name, new { @class = "form-check-label font-weight-bold" })
                    </div>
                </th>
                <td>
                        @plating.Key.Description
                </td>
            </tr>
            }
        }
        </tbody>
    </table>
    <button type="submit" value="AddUpdate" class="btn btn-success">Submit</button>
}

