@model Larder.Models.IngredientCreateFromTemplate

@{
    ViewBag.Title = "Create";
}

<h2>From Larder</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Templates, htmlAttributes: new { @class = "control-label" })
        <select name="TemplateId" class="form-control" id="Template">
            @foreach (var template in Model.Templates)
            {
                <option value="@template.ID">@template.Name</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.Templates, "", new { @class = "text-danger" })
    </div>
    @Html.Partial("_IngredientCreate", Model)
    <button type="submit" value="CreateFromTemplate" class="btn btn-success">Create</button>
}

@using (Html.BeginForm())
{
<div>
    @Html.ActionLink("Add Standard Ingredients", "Create", "Ingredient", new { id = Model.LarderId }, null)
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
