@model IEnumerable<Larder.Models.IngredientListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<ul class="list-group list-group-flush">
    <li class="list-group-item h5 font-weight-bold">Ingredients</li>
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.DisplayFor(modelItem => item.Amount)
            @Html.DisplayFor(modelItem => item.Unit)
            @Html.DisplayFor(modelItem => item.Name)
            @if (item.Description != null)
            {
                @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class="fas fa-mortar-pestle float-right"})
            }
        </li>
    }
</ul>



@section scripts {

    <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover()
            });
    </script>
}

